* {
  box-sizing: border-box;
}
/* header {
  display: flex;
}
.manu {
  display: flex;
  list-style: none;
  gap: 20px;
  text-align: center;
  padding: 0;
} */
/* .childmanu {
  display: inline;
    margin: 0 15px;
} */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  padding: 0;
  list-style: none;
  justify-content: center;
  max-width: 650px;
}

.gallery li {
  max-width: 300px;
  flex-basis: calc((100% - 50px) / 2);
  align-items: center;
}

.gallery li img {
  width: 100%;
  align-items: center;
}

.profile {
  display: flex;
  flex-direction: row;

  gap: 20px;
  list-style: none;
  padding: 0px;
  align-items: flex-end;
}

.profile div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 10px;
  padding: 0;
  list-style: none;
}

.footer div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
