.container {
  display: block;
  /* position: fixed; */

  width: 500px;
  height: 300px;

  margin: 50px auto;

  background-color: #e2e8f0;
}

.circle {
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  background-color: #6366f1;
  color: white;
  font-size: 24px;
}
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.top-section {
  position: relative;

  height: 300px;
  padding: 40px;

  background-color: #dbeafe;

  text-align: center;
}

.bottom-section {
  height: 300px;
  padding: 40px;

  background-color: #fef3c7;

  text-align: center;
}

.image {
  width: 80px;
  height: 70px;
}
.wrapper {
  position: relative;
}
.site-header-leaf {
  top: 333px;
  left: 192px;
  position: absolute;
}
.top-section-leaf {
  position: absolute;
  bottom: -20px;
  right: 200px;
}
