* {
  box-sizing: border-box;
  font-family: sans-serif;
}
/* Global Reset and Base Styles */
body {
  place-items: center;
  font-family: sans-serif;
  margin: 100px;
  background-color: #f0f0f0;
  color: #333;
}

/* section {
  margin-bottom: 40px;
  border: 10px dashed blue;
} */

/* section h2 {
  margin-bottom: 15px;
  font-size: 1.25rem;
  color: #111;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
} */

.products {
  /* place-items: center; */
  margin-top: 20px;
  display: grid;

  /* grid-template-columns: repeat(3, minmax(200px, 1fr)); */
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 900px;
  /* grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); */
  gap: 20px;
}
article {
  border: 1px solid #ccc;
  padding: 20px;
}

/* .dashboard {
  background-color: aqua;
  display: grid;
  grid-template-columns: 180px 1fr;
  grid-template-rows: 80px 200px;
  grid-template-areas:
    " header header"
    "sidebar main"
    "footer footer";
}
header {
  background-color: gray;
  grid-area: header;
}
aside {
  background-color: antiquewhite;
  grid-area: sidebar;
}
footer {
  background-color: peru;
  grid-area: footer;
} */
